SQLAlchemy==1.2.5
psycopg2==2.7.4
cx-Oracle==6.2.1
mysqlclient==1.3.12
pyodbc==4.0.22
fdb==1.8
Jinja2==2.10
WeasyPrint==0.42.2
petl==1.1.1
matplotlib==2.2.0
scikit-learn==0.19.1
pandas==0.22.0
numpy==1.14.2
openpyxl==2.3.5
xlrd==1.1.0
xlwt-future==0.8.0
PyQt5==5.10.1
colorama==0.3.9